.product {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #CCCCCC;
    padding-top: 30px;
    margin-bottom: 40px;
}

.product .product_bg {
    width: 1200px;
    height: 74px;
    margin: 0 auto;
}

.product .pro_left {
    height: 74px;
    float: left;
    line-height: 50px;
    background: url('../img/listpage/line.jpg') no-repeat 2px bottom;
    color: #404040;
    font-size: 34px;
    font-weight: bold;
}

.product .pro_right {
    width: 284px;
    height: 24px;
    float: right;
    color: #333;
    font-size: 15px;
    margin-top: 16px;
    line-height: 24px;
}

.product .pro_right img {
    float: left;
    margin-right: 15px;
    width: 22px;
}

.product .pro_right a {
    color: #333;
}

.product .pro_right span:first-child {
    color: #727272;
}

.product .pro_right span:last-child {
    color: #c7000a;
}

.list {
    width: 1200px;
    height: 933px;
    margin: 0 auto;
}

.list .dex {
    width: 860px;
    height: 62px;
    margin: 0 auto;
    text-align: center;
}

.list .dex a {
    display: block;
    width: 140px;
    height: 42px;
    line-height: 42px;
    background: #404040;
    border-radius: 5px;
    display: inline-block;
    color: #fff;
    margin: 0 14px 20px 14px;
    text-align: center;
}

.list .dex a:hover {
    background: #c7000a;
}

.list .details {
    width: 1056px;
    height: 851px;
    margin: 20px auto 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.hot{
    background: #c7000a!important;
}

.list .details a {
    display: block;
}

.list .deta {
    width: 330px;
    height: 395px;
    background: #F8F8F8;
    /* background: url('../img/listpage/product_fon_bg.png') no-repeat center bottom; */
    position: relative;
    top: 0;
    left: 0;
}

.list .deta .lp {
    width: 330px;
    height: 330px;
}

.list .deta:hover {
    background: #1C1C1C;
}

.list .deta:hover .lp {
    opacity: 0.4;
}

.list .deta .bg {
    width: 330px;
    position: absolute;
    left: 0;
    bottom: 0;
    opacity: 0;
}

.list .deta:hover .bg {
    opacity: 1;
}

.list .deta p {
    width: 330px;
    height: 65px;
    position: absolute;
    left: 0;
    bottom: 0;
    font-size: 20px;
    line-height: 65px;
    text-align: center;
    color: #000;
}

.list .deta:hover p {
    color: #fff;
}











